SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

# Managed by Ansible (infra/ansible/templates/curs-ops.cron.j2)
{{ ops_cron_backup_time }} root flock -n /var/lock/curs-backup.lock -c "cd {{ ops_cron_ansible_dir }} && make backup-postgres >> {{ ops_cron_log_file }} 2>&1"
{{ ops_cron_rotate_time }} root flock -n /var/lock/curs-rotate.lock -c "cd {{ ops_cron_ansible_dir }} && make backup-rotate >> {{ ops_cron_log_file }} 2>&1"
{{ ops_cron_restore_time }} root flock -n /var/lock/curs-restore.lock -c "cd {{ ops_cron_ansible_dir }} && BACKUP_DIR=\$(ls -1dt /home/deploy/backups/postgres/* | head -1) && make restore-drill BACKUP_DIR=\$BACKUP_DIR >> {{ ops_cron_log_file }} 2>&1"
{{ ops_cron_restore_cleanup_time }} root docker exec -i curs_postgres psql -U {{ db_user }} -d postgres -c "DROP DATABASE IF EXISTS auth_service{{ db_suffix }}_drill; DROP DATABASE IF EXISTS users_service{{ db_suffix }}_drill; DROP DATABASE IF EXISTS course_service{{ db_suffix }}_drill; DROP DATABASE IF EXISTS attribution_service{{ db_suffix }}_drill; DROP DATABASE IF EXISTS live_class_service{{ db_suffix }}_drill; DROP DATABASE IF EXISTS payments_service{{ db_suffix }}_drill; DROP DATABASE IF EXISTS bonus_wallet_service{{ db_suffix }}_drill;" >> {{ ops_cron_log_file }} 2>&1
{{ ops_cron_image_prune_time }} root docker image prune -a -f >> {{ ops_cron_log_file }} 2>&1
